@use 'frames';

#image {
  background-color: black;
  width: min-content;
  padding: 2px 3px 0 3px;

  display: grid;
  grid-template-rows: repeat(5, 3px 5px);

  --total-frames: 20;
  grid-template-columns: repeat(var(--total-frames), 6px);
}

#start {
  width: 5px;
  background-color: white;

  grid-row: 2 / -2;
  margin-left: 1px;
}
